body {
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 12px;
}

.card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 10px;
}

.img {
    max-height: 75px;
    max-width: 75px;
    margin: 60px 105px 30px 105px;
}

  a {
    color: grey !important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    text-transform: uppercase;

    :hover {
        
    }
  }
