body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 10px;
}
