body {
    // font-family: 'Roboto', sans-serif;
    color: #69748F !important; 
    background: #E6EFF6 !important;
}

.card-title {
    font-size: 17px;
}

.card-text {
    font-size: 12px;
}

.card{
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow;
}

.card:hover{
    transform: scale(1.05);
    // box-shadow: 10px;
}

.img {
    max-height: 75px;
    max-width: 75px;
    margin: 60px 105px 30px 105px;
}

  a {
    color: #69748F !important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none !important;
    text-transform: uppercase;
  }

  a:hover {
    color: white !important;
    height: 40px;
    width: 150px;
    background-color: #4BA9F3;
    border-radius: 40px;
    box-shadow: 10px;
}
